/* assets/css/responsive.css */
/* Aturan ini akan berlaku jika lebar layar 768px atau kurang (Tablet) */
@media (max-width: 768px) {
  nav h1 {
    font-size: 2.5rem;
  }

  nav ul li {
    margin: 0 10px;
  }

  nav ul li a {
    font-size: 1.5rem;
  }

  .container {
    margin: 10px;
    padding: 15px;
  }
}

/* Aturan ini akan berlaku jika lebar layar 480px atau kurang (HP) */
@media (max-width: 480px) {
  /* Navigasi: buat jadi vertikal */
  nav ul {
    padding-top: 5px;
  }

  nav ul li {
    display: block; /* Susun link ke bawah */
    margin: 5px 0;
  }

  nav ul li a {
    display: block; /* Buat link memenuhi lebar */
    padding: 10px;
  }

  nav ul li a.active,
  nav ul li a:hover {
    border-bottom: none; /* Hapus border bawah */
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }

  body {
    font-size: 1.2rem;
  }

  /* Perkecil font di galeri dan catatan */
  .photo-item figcaption,
  .note-link p {
    font-size: 1.1rem;
  }

  .note-content {
    padding: 20px;
    font-size: 1.3rem;
  }
}
